<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="row g-3">
		<div class="col-12">
			<div class="fw-semibold fs-4 text-brand">
				<span class="fa fa-fw fa-tornado text-secondary" />
				<wicket:message key="simulation.common.offcanvas.site.aleasGeographiques.title" />
			</div>
		</div>
		<div class="col-12">
			<div class="list-group">
				<div wicket:id="values" class="list-group-item">
					<div class="row g-3 align-items-center">
						<div class="col-auto">
							<div class="bg-body-secondary p-1 rounded-3">
								<span wicket:id="icon" class="fa fa-fw fa-lg text-brand" />
							</div>
						</div>
						<div class="col">
							<div wicket:id="aleaType" />
						</div>
						<div class="col-auto">
							<div wicket:id="risque" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>