<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="offcanvas" class="offcanvas offcanvas-end" tabindex="-1" style="--bs-offcanvas-width: 700px;">
		<div class="offcanvas-header">
			<div class="offcanvas-title fs-3">
				<a wicket:id="siteLink"><span wicket:id="site" /></a>
				<span class="fa fa-fw fa-arrow-up-right-from-square text-secondary small" />
			</div>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body beautiful-scrollbar">
			<div wicket:id="breadcrumb" class="mb-4" />
			<div wicket:id="content" />
		</div>
	</div>
</wicket:panel>
</html>