<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<form wicket:id="form">
		<div class="row row-form align-items-center">
			<div class="form-group col-sm-auto">
				<div class="form-label mb-1"><wicket:message key="simulation.common.wording.scenario" /></div>
				<div wicket:id="scenario" class="btn-group">
					<wicket:container wicket:id="values">
						<input wicket:id="value" class="btn-check" type="radio">
						<label wicket:for="value" class="btn btn-outline-primary btn-outline-bg-white"><wicket:label /></label>
					</wicket:container>
				</div>
			</div>
			<div class="form-group col-sm-auto">
				<div class="form-label mb-1"><wicket:message key="simulation.common.wording.horizon" /></div>
				<div wicket:id="horizon" class="btn-group">
					<wicket:container wicket:id="values">
						<input wicket:id="value" class="btn-check" type="radio">
						<label wicket:for="value" class="btn btn-outline-primary btn-outline-bg-white"><wicket:label /></label>
					</wicket:container>
				</div>
			</div>
			<div class="form-group col-sm-auto">
				<div class="form-label mb-1"><wicket:message key="simulation.common.wording.enableProcessus" /></div>
				<div wicket:id="enableProcessus" class="btn-group">
					<wicket:container wicket:id="values">
						<input wicket:id="value" class="btn-check" type="radio">
						<label wicket:for="value" class="btn btn-outline-primary btn-outline-bg-white"><wicket:label /></label>
					</wicket:container>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
</html>