<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item">
				<a wicket:id="siteLink">
					<wicket:message key="simulation.common.offcanvas.breadcrumb.simulation" />
				</a>
			</li>
			<li wicket:id="processusContainer" class="breadcrumb-item">
				<a wicket:id="processusLink">
					<span wicket:id="processus" />
				</a>
				<span wicket:id="processus" />
			</li>
			<li wicket:id="aleaContainer" class="breadcrumb-item">
				<a wicket:id="aleaLink">
					<span wicket:id="alea" />
				</a>
				<span wicket:id="alea" />
			</li>
			<li wicket:id="impactPotentielBrutContainer" class="breadcrumb-item">
				<span>
					<wicket:message key="business.alea.impactPotentielBrut" />
				</span>
			</li>
		</ol>
	</nav>
</wicket:panel>
</html>