<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item">
				<span class="fa fa-fw fa-signs-post text-secondary" />
			</li>
			<li wicket:id="siteContainer" class="breadcrumb-item">
				<a wicket:id="navigationLink" class="link-body-emphasis"><span wicket:id="site" /></a>
				<span wicket:id="site" class="fw-bold" />
				<a wicket:id="siteLink"><span class="fa fa-fw fa-arrow-up-right-from-square" /></a>
			</li>
			<li wicket:id="processusContainer" class="breadcrumb-item">
				<a wicket:id="navigationLink" class="link-body-emphasis"><span wicket:id="processus" /></a>
				<span wicket:id="processus" class="fw-bold" />
				<a wicket:id="processusLink"><span class="fa fa-fw fa-arrow-up-right-from-square" /></a>
			</li>
			<li wicket:id="aleaContainer" class="breadcrumb-item">
				<a wicket:id="navigationLink" class="link-body-emphasis"><span wicket:id="alea" /></a>
				<span wicket:id="alea" class="fw-bold" />
			</li>
			<li wicket:id="impactPotentielBrutContainer" class="breadcrumb-item">
				<span class="fw-bold">
					<wicket:message key="business.alea.impactPotentiel" />
					·
					<wicket:message wicket:id="impactPotentielBrut" />
				</span>
			</li>
		</ol>
	</nav>
</wicket:panel>
</html>