<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="content-header-section">
		<div class="content-header-container">
			<div class="content-header">
				<wicket:container wicket:id="add">
					<h1 class="content-header-title">
						<wicket:message key="processus.add.title" />
					</h1>
				</wicket:container>
				<wicket:container wicket:id="edit">
					<span class="fs-4 text-secondary">
						<wicket:message key="processus.edit.title" />
					</span>
					<h1 wicket:id="nom" class="content-header-title mt-1" />
				</wicket:container>
			</div>
		</div>
	</div>
</wicket:panel>
</html>