<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="results" class="card card-main" />
	
	<wicket:fragment wicket:id="typeCellFragment">
		<span wicket:id="icon" class="fa fa-fw text-secondary" />
		<span wicket:id="type" />
	</wicket:fragment>
	
	<wicket:fragment wicket:id="sensibiliteCellFragment">
		<div wicket:id="sensibilite" />
	</wicket:fragment>
	
	<wicket:fragment wicket:id="impactPotentielBrutCellFragment">
		<div wicket:id="impactPotentielBrut" />
	</wicket:fragment>
</wicket:panel>
</html>