<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<form wicket:id="form">
		<div class="row row-form">
			<div class="col-lg-9 col-2xl-8">
				<div class="row row-form align-items-center">
					<div class="form-group col-lg-4">
						<label wicket:for="name" class="visually-hidden"><wicket:label /></label>
						<input wicket:id="name" class="form-control" type="text" />
					</div>
					<div class="form-group col-lg-4">
						<label wicket:for="organisation" class="visually-hidden"><wicket:label /></label>
						<select wicket:id="organisation" class="form-control" />
					</div>
					<div class="form-group col-lg-4">
						<label wicket:for="enabledFilter" class="visually-hidden"><wicket:label /></label>
						<select wicket:id="enabledFilter" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
</html>