<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="card card-main">
		<div class="card-header">
			<div class="card-header-title">
				<wicket:message key="site.detail.risque.title" />
			</div>
		</div>
		<div class="card-body">
			<div class="row g-2">
				<div class="col-12">
					<div class="row row-description-group description-group align-items-center">
						<div class="col-md-4">
							<div class="description-label">
								<wicket:message key="business.site.risqueBrutRcp45Annee2035" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="description-value">
								<div wicket:id="risqueBrutRcp45Annee2035" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row row-description-group description-group align-items-center">
						<div class="col-md-4">
							<div class="description-label">
								<wicket:message key="business.site.risqueBrutRcp45Annee2055" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="description-value">
								<div wicket:id="risqueBrutRcp45Annee2055" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row row-description-group description-group align-items-center">
						<div class="col-md-4">
							<div class="description-label">
								<wicket:message key="business.site.risqueBrutRcp85Annee2035" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="description-value">
								<div wicket:id="risqueBrutRcp85Annee2035" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row row-description-group description-group align-items-center">
						<div class="col-md-4">
							<div class="description-label">
								<wicket:message key="business.site.risqueBrutRcp85Annee2055" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="description-value">
								<div wicket:id="risqueBrutRcp85Annee2055" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>