<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="sidebar-section-title"><span class="fa fa-fw fa-building" /> <wicket:message key="sidebar.organisation.title" /></div>
	<div class="sidebar-section-content">
		<form>
			<label wicket:for="organisation" class="visually-hidden"><wicket:label /></label>
			<select wicket:id="organisation" class="form-control" />
		</form>
	</div>
	<div class="sidebar-divider" />
</wicket:panel>
</html>
